@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 99%; /* ~ zinc-50 */
    --foreground: 240 5% 20%; /* ~ zinc-800 */
    --card: 240 5% 99%; /* ~ zinc-50 */
    --card-foreground: 240 5% 20%; /* ~ zinc-800 */
    --popover: 240 5% 99%; /* ~ zinc-50 */
    --popover-foreground: 240 5% 20%; /* ~ zinc-800 */
    --primary: 240 4% 25%; /* ~ zinc-700 */
    --primary-foreground: 240 5% 99%; /* ~ zinc-50 */
    --secondary: 240 3% 94%; /* ~ zinc-200 */
    --secondary-foreground: 240 4% 25%; /* ~ zinc-700 */
    --muted: 240 3% 96%; /* ~ zinc-100 */
    --muted-foreground: 240 3% 48%; /* ~ zinc-500 */
    --accent: 240 3% 94%; /* ~ zinc-200 */
    --accent-foreground: 240 4% 25%; /* ~ zinc-700 */
    --destructive: 0 84% 60%; /* ~ red-500 */
    --destructive-foreground: 0 0% 98%; /* ~ zinc-50 */
    --border: 240 6% 92%; /* ~ zinc-200 */
    --input: 240 6% 92%; /* ~ zinc-200 */
    --ring: 240 5% 64%; /* ~ zinc-400 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 4% 12%; /* ~ zinc-900 */
    --foreground: 240 5% 99%; /* ~ zinc-50 */
    --card: 240 4% 12%; /* ~ zinc-900 */
    --card-foreground: 240 5% 99%; /* ~ zinc-50 */
    --popover: 240 4% 12%; /* ~ zinc-900 */
    --popover-foreground: 240 5% 99%; /* ~ zinc-50 */
    --primary: 240 5% 99%; /* ~ zinc-50 */
    --primary-foreground: 240 4% 12%; /* ~ zinc-900 */
    --secondary: 240 3% 19%; /* ~ zinc-800 */
    --secondary-foreground: 240 5% 96%; /* ~ zinc-100 */
    --muted: 240 3% 22%; /* ~ zinc-800 */
    --muted-foreground: 240 5% 70%; /* ~ zinc-300 */
    --accent: 240 3% 19%; /* ~ zinc-800 */
    --accent-foreground: 240 5% 96%; /* ~ zinc-100 */
    --destructive: 0 62% 30%; /* ~ red-700 */
    --destructive-foreground: 0 0% 98%; /* ~ zinc-50 */
    --border: 240 3% 22%; /* ~ zinc-800 */
    --input: 240 3% 22%; /* ~ zinc-800 */
    --ring: 240 4% 70%; /* ~ zinc-300 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
